.sobre_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    
}

.sobre_container h1{
    font-size: 2.5em;
    margin-top: .5em;
    padding: 10px;
    background-color: #cfe8f3;
}

.sobre_container h2{
    font-size: 2.5em;
    margin-top: .5em;
    padding: 10px;
    background-color: #cfe8f3;
}

.sobre_container ul{
    margin-top: 1.5em;
    color: #7b7b7b;
}

.sobre_container p{
    margin-top: 1.5em;
    color: #7b7b7b;
}

.sobre_container img{
    width: 900px;
    margin: 2em 0;
    box-sizing:	border-box;
    margin: 30px;
    padding: 15px;
    text-align:	center;
    background-color:whitesmoke;
    border: 1px	solid lightgrey;        

}



